alabaster==0.7.12
ansicon==1.89.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
dateparser==1.0.0
Flask==1.1.2
Flask-Cors==3.0.9
html5lib==1.1
humanize==3.1.0
idna==2.10
iso-639==0.4.5
iso3166==1.0.1
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jinxed==1.0.1
MarkupSafe==1.1.1
pycryptodome==3.9.9
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.24.0
six==1.15.0
soupsieve==2.1
streamlink==1.6.0
tzlocal==2.1
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
youtube-dl==2021.1.16
youtube-dlc==2020.11.11.post3
